body {
    background-image: url("/images/chalkboard-background.jpg");
    background-color: #404040;
    background-blend-mode: overlay;
    /*bechtle green color code ;)*/
    color: #008854;
    margin: 0;
}

.content-container{
    padding-top: 56px;
}

.border-shadow-upper-lower{
    box-shadow: 3px 1px 16px 0px rgba(0, 0, 0, 0.2);
}

input:focus, a:focus, button:focus{
    outline: none;
}


.container-aa {
    margin-top: 15px;
}

.container-a{
    margin-top: 10px;
    border-radius: 10px
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
    background: rgba(64,64,64,0.3);
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #e09832;
}

.table>tbody>tr>td{
    border-top: transparent;
}



.panel {
    background-color: transparent;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}
