
.table td, .table th {
    font-size: 2.7rem !important;
}

.sidebar-module .table-sm td th {
    font-size: 4rem !important;
}

.carousel-item div {
  /*width: 100%;*/
}

.sidebar-module {
  width: 25%;
}

.sidebar-module .table-sm th, .sidebar-module .table-sm td {
  font-size: 2.7rem;
}

.blog-header {
  padding-left: 25px !important;
}

h4 {
  font-size: 3.5rem !important;
}

.blog-description {
  font-size: 1.7rem !important;
}

/*
html {
    font-size: 25px;
}
*/