
.menu-container {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
}

.navbar-default .navbar-nav > li > a {
    color: #008854;
}

.menu-category:hover .test1 {
    display: block;
}

.navbar-brand {
    position: relative;
    z-index: 2;
    padding: 0px !important;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
}

.navbar .navbar-collapse {
    position: relative;
}

.navbar .navbar-collapse .navbar-right > li:last-child {
    padding-left: 22px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse > li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}

.dropbtn {
    background-color: #f8f8f8;
    color: #008854;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.dropdown-content a {
    color: #008854;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e0e0e0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e0e0e0;
}

.menu-small-viewport {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }

    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }

    .nav-collapse > li {
        float: none;
    }

    .dropbtn {
        width: 100%;
    }

    .dropdown-content {
        position: relative !important;
        margin-bottom: 7px;
        background-color: #f9f9f9;
        width: 100%;
        text-align: center;
    }

    .menu-small-viewport {
        display: block !important;
    }

    .menu-big-viewport {
        display: none !important;
    }

    .dropdown {
        width: 100%;
        text-align: center;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }
}
