.blog-header {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.slide--game-table {
    padding-right: 25px;
    padding-left: 40px;
    padding-top: 30px;
}

.slide--advertisment img {
    margin: 0 auto;
    width: 95%;
}

.footer-thin {
    bottom: 0 !important;
    margin: 0px !important;
    padding-right: 10px !important;
    float: right
}

#currentMatch {
    width: 100%;
    line-height:1.2;
}

.current-match-container {
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/
    padding-top: 10px;
    text-align: center;
}

.current-match-number {
    font-size: 2.25rem;
    text-align: center;
}

.current-match-team {
    font-size: 5rem;
    text-align: center;
}

.current-match-status {
    font-size: 9rem;
    font-weight: bold;
    text-align: center;
}

h4 {
  padding-top: 15px;
}

@media only screen and (max-width: 400px) {

    .blog-header {
      padding-left: 0.1rem !important;
    }

    .blog-header .lead {
      font-size: 0.7rem !important;
    }

    .blog-header .blog-title {
      font-size: 1.3rem !important;
    }

    .blog-header img {
      width: 75px;
    }

    .table {
      font-size: x-small !important;
    }

    .table td, .table th {
      padding: 0.1rem !important;
    }

    .slide--game-table {
      padding: 1px !important;
    }

    .row {
      margin-right: 0px !important;
    }
}