.blog-header {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.slide--game-table {
    padding-right: 25px;
    padding-left: 40px;
    padding-top: 30px;
}

.slide--advertisment img {
    margin: 0 auto;
    width: 95%;
}

.footer-thin {
    bottom: 0 !important;
    margin: 0px !important;
    padding-right: 10px !important;
    float: right
}