#foreach($g in $t.groups)
<div class="sidebar-module">
    <table class="table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="4">$g.name</th>
        </tr>
        </thead>
        <tbody>
        #foreach($team in $g.getRankedTeams())
        #if($t.qualiCount % 2 != 0 && $foreach.count == $t.qualiCount)
        <tr class="table-warning">
            #elseif($foreach.count <= $t.qualiCount)
        <tr class="table-success">
            #else
        <tr>
            #end
            <th scope="row" class="col-md-1">$foreach.count.</th>
            <td class="col-md-3">$team.name</td>
            #if($team.goals && $team.contragoals)
            <td class="col-md-2">$team.goals:$team.contragoals</td>
            #else
            <td class="col-md-2">-:-</td>
            #end
            #if($team.points)
            <td class="col-md-2">$team.points</td>
            #else
            <td class="col-md-2">-</td>
            #end
        </tr>
        #end
        </tbody>
    </table>
</div>
#end