
<div class="row" style="width:100%;">
#foreach($g in $t.groups)

<div class="sidebar-module col-lg-6">
    <table class="table-sm" style="">
        <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="4">Gruppe $g.name</th>
        </tr>
        </thead>
        <tbody>
        #foreach($team in $g.getRankedTeams())
        #if($t.qualiCount % 2 != 0 && $foreach.count == $t.qualiCount)
        <tr class="table-warning">
            #elseif($foreach.count <= $t.qualiCount)
        <tr class="table-success">
            #else
        <tr>
            #end
            <th scope="row" class="">$foreach.count.</th>
            <td class="">$team.name</td>
            #if($team.goals && $team.contragoals)
            <td class="">$team.goals:$team.contragoals</td>
            #else
            <td class="">-:-</td>
            #end
            #if($team.points)
            <td class="">$team.points</td>
            #else
            <td class="">-</td>
            #end
        </tr>
        #end
        </tbody>
    </table>
</div>

#end
</div>