#@mainLayout()

<script>
    var tid = $t.id
    $(function() {

        function reload() {
            $.ajax({
                type: "GET",
                url: "/match/prelimMatches/" + tid,
                data: "",
                success: function(data, textStatus) {
                    $("#prelimMatches").html(data);
                },
                error: function() {
                    console.log("Error fetching prelimMatches via XHR");
                }
            });

            $.ajax({
                type: "GET",
                url: "/group/rankedGroups/" + tid,
                data: "",
                success: function(data, textStatus) {
                    $("#groups").html(data);
                },
                error: function() {
                    console.log("Error fetching groups via XHR");
                }
            });

            $.ajax({
                type: "GET",
                url: "/match/finalMatches/" + tid,
                data: "",
                success: function(data, textStatus) {
                    $("#finalMatches").html(data);
                },
                error: function() {
                    console.log("Error fetching finalMatches via XHR");
                }
            });
        }


        // Websockets

        var webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/update");
        webSocket.onmessage = function (msg) {
            var data = JSON.parse(msg.data);
            cmd = data.cmd
            console.log("CMD: " + cmd);
            if (cmd == "refresh-data") {
                reload();
            }
        };
        webSocket.onclose = function () { console.log("WebSocket connection closed") };

        reload();

    });

</script>

<div class="blog-header">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="blog-title">$t.name</h1>
                <p class="lead blog-description">$t.subtitle</p>
            </div>
            <div class="col-sm-4">
                <img src="/images/logo.png"/>
            </div>
        </div>
    </div>
</div>

#if($prelimDone)
  #set($prelimSlideInterval=10000)
  #set($finalSlideInterval=30000)
#else
  #set($prelimSlideInterval=60000)
  #set($finalSlideInterval=10000)
#end

<div class="row">

    <div class="carousel-slider col-sm-9 blog-main">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

                <div data-interval="$prelimSlideInterval" class="carousel-item active slide--game-table">
                    <div id="prelimMatches">
                    </div>
                </div>

                <div data-interval="10000" class="carousel-item slide--advertisment container">
                    <img class="d-block img-fluid"
                         src="/images/flyer.png"
                         alt="Flyer" />
                </div>

                <div data-interval="$finalSlideInterval" class="carousel-item slide--game-table">
                    <div id="finalMatches">
                    </div>
                </div>

                <div data-interval="10000" class="carousel-item slide--advertisment container">
                    <img class="rounded mx-auto d-block"
                         src="/images/ads/el-fuego.jpg"
                         alt="Ads" />
                </div>

            </div>

        </div>
    </div>

    <div class="col-sm-3 blog-sidebar">
        <div id="groups">
        </div>

    </div>
</div>
#end